{
  "extends": [
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:vitest/recommended",
    "prettier",
    "plugin:@tanstack/eslint-plugin-query/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "plugins": ["prettier", "import", "unicorn", "react", "react-hooks", "vitest", "@tanstack/query"],
  "rules": {
    "@tanstack/query/exhaustive-deps": "error",
    "@tanstack/query/stable-query-client": "error",
    "import/no-cycle": "warn",
    "import/no-default-export": "off",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "off", // false triggers on dev dependencies
    "import/no-useless-path-segments": "error",
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "groups": [["builtin", "external"], ["internal", "unknown", "object"], ["parent"], ["sibling", "index"]],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "react*",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{app,common,features,test}/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "import/prefer-default-export": "off",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSpacing": true,
        "printWidth": 130,
        "quoteProps": "consistent",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    ],
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
