.itemContainer {
  padding-bottom: 0.5em;
  padding-left: 0.8em;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.title {
  font-weight: bold;
  font-style: italic;
  margin: 0.5em 0;
}

.item {
  color: #343648;
}
