.background {
  background-image: url("../../assets/images/rybinsk.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  padding-top: 4em;
}
