.nav-menu {
  &__root {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  &__item {
    font-weight: bold;
    padding: 0.8em 1em;
    color: #343648;

    &:visited {
      color: #343648;
    }

    &:hover {
      background-color: #ba96ff;
      cursor: pointer;
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}