.nav-menu {
  &__root {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  &__item {
    font-weight: bold;
    padding: 0.8em 1em;
    color: #343648;

    &.active {
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }

    &:visited {
      color: #343648;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: #75043b;
    }
  }
}