.page-blog {

  &__title {
    font-weight: bold;
    font-style: italic;
    margin: 0.5em 0;
  }

  &__item {
    color: #343648;

    &Container {
      padding-bottom: 0.5em;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
  }
}