.page-container {
  &__root {
    max-width: 50vw;

    &, &--narrow {
      margin: 0.8em;
      background: #FFFFFF;
      border-radius: 0.8em;
      padding: 0.8em;
      -moz-box-shadow: 0 0 2px 1px #CCCCCC;
      -webkit-box-shadow: 0 0 2px 1px #CCCCCC;
      box-shadow: 0 0 2px 1px #CCCCCC;
      opacity: 0.8;
    }

    &--narrow {
      max-width: 95vw;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}