.page-contacts {

  &__root {
    line-height: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-left: 0.8em;
  }

  &__item {
    text-align: right;
  }

  &__btn {
    min-height: 24px;
  }
}