a {
  color: #70719b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #70719b;
}

nav a {
  color: #000;
}

nav a:visited {
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  color: #343648;
  margin: 0;
}

.ag-flexbox {
  display: flex;
}

.ag-flexColumn {
  flex-direction: column;
}

.ag-alignItems_center {
  align-items: center;
}

.ag-alignItems_end {
  align-items: flex-end;
}

.ag-justifyContent_center {
  justify-content: center;
}

.ag-justifyContent_between {
  justify-content: space-between;
}
