$darkBlueColor: #343648;

a {
  color: #70719b;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #70719b;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  color: $darkBlueColor;
  margin: 0
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
}

.justifyContentBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.alignItemsCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.alignItemsBaseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}