name: Deploy
on:
  push:
    branches:
      - master
env:
  GITHUB_SHA: ${{ secrets.GITHUB_SHA }}
jobs:
  deployment:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 22.x ]
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        name: Install NodeJS
        with:
          node-version: '22'
      - uses: pnpm/action-setup@v4
        name: Install PNPM
        with:
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: |
          pnpm build
          echo $GITHUB_SHA > ./dist/version
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
      - name: Deploy app
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/artyom-88/artyom-88.github.io.git
          pnpm gh-pages -d dist -u "Art—ëm <artem_ganev@epam.com>" -m ${GITHUB_SHA}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_SHA: ${{ secrets.GITHUB_SHA }}
